MINI_LLM_HOST=0.0.0.0
MINI_LLM_PORT=8000
MINI_LLM_ARTIFACTS_DIR=./artifacts
MINI_LLM_BATCH_SIZE=32
MINI_LLM_BLOCK_SIZE=128
MINI_LLM_DEFAULT_EPOCHS=5
MINI_LLM_DEFAULT_GENERATION_LENGTH=50
MINI_LLM_MAX_EPOCHS=20
MINI_LLM_MAX_GENERATION_LENGTH=200
MINI_LLM_MAX_TRAINING_CHARS=100000
MINI_LLM_MAX_REQUEST_BYTES=1048576
MINI_LLM_LEARNING_RATE=0.0003
MINI_LLM_LOG_LEVEL=INFO
